.navbar-inverse {
  background-color: transparent;
  border-color: #080808;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
    font-family: helvetica;
}

@font-face{
    font-family: 'MERRIWEATHERSANS-BOLD';
    src: url('fonts/MERRIWEATHERSANS-BOLD.ttf') format ('truetype');
}

@font-face{
    font-family: 'AGENO__';
    src: url('fonts/AGENO__.ttf') format ('truetype');
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
background-image:url(../img/bg-header.png);
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.howitworks {
  padding-left: 15px;
  padding-right: 15px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .howitworks {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 10px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}



.tagline {
    color:white;
    font-size: 12pt;
    margin-top:5px;
    margin-left:15px;
    font:verdana;
    text-align:left;
    
}

.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: px;
  }

.navbar-right{
    font-size:16px;
}



.section-header {
    font-family:"AGENO__";

}

.playnlearn {
    background:url(../img/pnl-bg.png) no-repeat;
    background-size:100%;
    margin-top:20px;
    padding-top:20px;
    padding-bottom:20px;
}

.nav-tabs {
    margin-left:100px;
}

.tab-content {
    margin-left:100px;
}

#myTab1, #myTab2, #myTab3, #myTab4 {
    padding-top:20px;
    padding-bottom:20px;
    padding-left:20px;
    padding-right:20px;
}


.corner-arrows-1 {
    height:120px;
    width:150px;
    margin-top:20px;
    margin-left:20px;
}

.corner-arrows-4 {
    height:120px;
    width:150px;
    margin-left:120px;
    margin-top:20px
}

.corner-arrows-2 {
    height:150px;
    width:150px;
    padding-top:20px;
    margin-left:20px    
}

.corner-arrows-3 {
    height:150px;
    width:150px;
    padding-top:20px;
    margin-left:120px    
}

.step-panel {
/*    border-style:solid;
    border-color:red;
    border-radius:15px;
*/  height:150px;
    outline:1px solid green;
    outline-offset:1px;    
}



.step-img {
    float:right;
    vertical-align:middle;
    margin-top:20px;
}

.step-text {
    text-align:left;
    width:300px;
    float:left;
}

.corner-arrows-0 {
    height:150px;
    width:150px;

}

.testimonials {
    background:#A67EF5;
    color:white;
    margin-top:20px;
    padding-top:20px;
    padding-bottom:20px;    
    padding-left:100px;
}

.testimonial-row {
    width:950px;
}

.unstyled {
    display:inline-block;
    width:500px;
}

.unstyled li{
    display:block;
    font-size:16px;
    margin-bottom:5px;
    margin-left:-50px;
}

.footer {
    background:#546673;
    height:100px;
}

.footer div{
    font-size:24px;
    text-align:center;
}

.pull-right {
    font-size:18px;
    color:white;
    margin-right:50px;
    margin-top:20px;
}

.div-copyright {
    color:white;
    font-size:12px;
}

<!-- pricing -->
.price {
	border: 1px solid #c4cbcc;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	outline: 5px solid #f2f3f3;
	float:left;
}

.price ul { 
	list-style: none; 
	float: left; 
	width: 190px; 
	margin: 0; 
	border: 1px solid #f2f3f3;
	padding: 10px;
	text-align: center;
	background-color: #FFF;

}

.price ul:hover { 
	-webkit-transform: scale(1.1);
  	-moz-transform: scale(1.1);
  	-o-transform: scale(1.1);
  	-moz-box-shadow: 0px 0px 6px rgba(0,0,0,.7);
  	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,.7);
  	box-shadow: 0px 0px 6px rgba(0,0,0,.7);
  	cursor: default;
}

.price ul li {  
	border-bottom: 1px dashed #bebebe;
	padding: 10px 0;
	font-size: 14px;
}

.price ul li:first-child { 
	font-size: 18px;
	font-weight: bold;
}

.price ul li:nth-child(1) {
	color: #1477a1;
}

.price ul li:nth-child(3) { 
	font-size: 12px;
	font-weight: bold;
}

.price ul li:last-child {
	border-bottom: none;
	height: 40px;
}

.buy_now { 
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	padding: 10px;
	margin: 5px 0;
	background: #1477a1;
	color: #FFF;
	display: block;
}
<!-- end pricing -->

.nav-tabs {
    border-color:#428bca;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color:#428bca;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    color:white;
}

.quote {
    font-family:cursive;
    font-size:24px;
    font-style:italic;
}
